body {
  background: #2d4059;
}

.App {
  font-family: "DM Sans", sans-serif;
  max-width: 720px;
  margin: 0 auto;
}

.App-header {
  font-family: "Tilt Warp", cursive;
  text-align: center;
  margin: 30px 0;
  color: #ff5722;
  font-size: 48px;
  font-weight: 500;
}

.App-footer {
  color: #ff5722;
  text-align: center;
  margin: 30px 0;
}
.App-footer a {
  color: #ff5722;
  text-decoration: none;
}
.App-footer a:hover {
  color: #eeeeee;
}
@media (max-width: 500px) {
  .App-header {
    font-size: 36px;
  }
  .App-footer {
    font-size: 12px;
  }
}
