.Dictionary section {
  background: #eeeeee;
  opacity: 0.8;
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
  text-align: center;
}

.Dictionary .question {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.Dictionary input {
  border-radius: 4px;
  padding: 6px 4px 6px 8px;
  border: 3px solid #ff5722;
}
.Dictionary .searchbar {
  width: 50%;
}
.Dictionary .searchbutton {
  background: #ff5722;
  color: white;
  text-align: center;
}
.Dictionary .searchbutton:hover {
  background: #ff5722;
  opacity: 0.8;
  color: white;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 6px;
  color: grey;
}

@media (max-width: 500px) {
  .Dictionary .question {
    font-size: 14px;
  }

  .Dictionary .searchbar {
    width: 64%;
  }
}
