.Results section {
  background: #f5f5f5;
  padding: 30px;
  margin: 20px 0;
  border-radius: 4px;
}

.Results h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
}

@media (max-width: 500px) {
  .Results h2 {
    font-size: 30px;
  }
}
